* {
  box-sizing: border-box;
}
body {
  /* all color */
  font-family: "Manrope", sans-serif;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px !important;
  }
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
.menu .social-icon a {
  font-size: 14px;
}
.menu .social-icon a:not(:first-child) {
  margin-left: 25px;
}
.menu .right-bar::before {
  content: "";
  position: absolute;
  background: #eaeae2;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1px;
}
.caveat {
  font-family: "Caveat", cursive;
}
.category-img::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background: #fff;
  bottom: -10px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  z-index: -5;
  transition: all 0.4s ease-in-out;
}
.category-card .icon {
  transition: all 0.4s ease-in-out 0.1s;
}
.category-card:hover .category-img::before {
  background: green;
}
.category-card:hover .icon {
  opacity: 1;
}
.product-card {
  transition: box-shadow 0.4s ease-in-out;
}
.product-card:hover {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}
.product-card:hover .social-icon {
  opacity: 1;

  transform: rotateX(0deg) translateX(-0%);
}

.product-card .social-icon {
  transform: rotateX(30deg) translateX(100%);
  transition: all 0.5s ease-in-out 0.3s;
}

.product-card .social-icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f3f3ed;
  color: #37542b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
}
.team-card::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 115px;
  left: 0;
  bottom: 0;
  right: 0;
  background: #2a491d;
  border-radius: 140px 140px 0 0;
  z-index: -50;
}
.team-member:hover .team-card::after {
  top: 115px;
}

.team-card::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  bottom: 0;
  right: 0;
  background: #50a72c;
  border-radius: 140px 140px 0 0;
  z-index: -30;
  transition: top 0.6s ease-in-out 0.1s;
}
.item::after {
  content: "";
  position: absolute;
  bottom: -49px;
  left: 50%;
  background: url(../images/testimonial-one-shape-4.png) no-repeat center center /
    contain;
  width: 91px;
  height: 49px;
}
.testimonials .owl-item {
  visibility: hidden;
}
.testimonials .owl-item.active {
  visibility: visible;
}
.testimonials .owl-carousel .owl-stage-outer {
  overflow: visible !important;
}
.testimonials .owl-carousel .owl-item img {
  display: block;
  width: unset !important;
}
button.owl-prev,
button.owl-next {
  width: 52px !important;
  height: 52px !important;
  border-radius: 50% !important;
  border: 2px solid rgba(42, 73, 29, 0.2) !important;
  color: rgba(42, 73, 29, 0.2) !important;
  font-size: 16px !important;
}
.owl-nav {
  position: absolute;
  left: -110px;
  bottom: 38px;
  transform: rotate(89deg);
}
.gallery-card {
  transition: 0.4s ease-in-out;
}
.gallery-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(42, 73, 29);
  opacity: 0;
  top: 100%;
  left: 0;
}
.gallery-card::after {
  transition: opacity 500ms ease, top 700ms ease;
}
.gallery-card:hover::after {
  top: 0;
  opacity: 0.3;
}
.gallery-card-info {
  top: 40%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.gallery-card-parent:hover .gallery-card-info {
  opacity: 1;
  top: 67%;
}
.gallery-card-parent:hover .gallery-card {
  transform: translateY(-20px);
}
.apartment::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 11px;
  background: #999;
  opacity: 0.8;
  right: -12px;
  top: 52%;
  transform: translateY(-50%);
}
.footer-cat::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 3px;
  right: 0;
  background-image: linear-gradient(
    to right,
    rgb(80, 167, 44) 0%,
    rgb(255, 189, 60) 100%
  );
  right: 16px;
  top: 50%;
}
.call::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 6px;
  bottom: 5px;
  background: #999;
  right: -30px;
  opacity: 0.8;
}
.custom-btn {
  position: relative;
  padding: 14px 40px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 25px;
  color: #fff;
  z-index: 1;
}
.custom-btn::after,
.custom-btn-two::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  background-color: #4a9e27;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  clip-path: polygon(50% 0, 100% 0%, 100% 100%, 0% 100%);
  transition: all 0.5s linear;
  z-index: -1;
}
.custom-btn-two::after {
  background-color: #f7b534;
}
.services-details::after {
  content: "";
  background: #50a72c;
  position: absolute;
  top: 10px;
  left: 34px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  opacity: 0.1;
}
.team .social-icon a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #223d17;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
}
.blog-card-img img {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}
.blog-card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(42, 73, 29);
  opacity: 0;
  transition: opacity 0.7s ease-in-out 0.1s;
}
.blog-card:hover .blog-card-img::after {
  opacity: 0.8;
}
.blog-card:hover .blog-card-img img {
  transform: scale(1);
}
.footer-gallery-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(80, 167, 44);
  opacity: 0.9;
  bottom: 100%;
  border-radius: 7px;
  transition: bottom 0.4s ease-in-out;
  z-index: 0;
}
.footer .icon {
  transition: top 0.4s ease-in-out 0.3s;
}
.footer-gallery-img:hover .icon {
  top: 0;
}
.footer-gallery-img:hover::before {
  bottom: 0;
}
.footer-gallery-img img {
  transition: 0.7s ease-in-out;
}
.footer-gallery-img:hover img {
  transform: scale(1.05);
}
@media screen and (min-width: 1024px) {
  .footer-grid {
    grid-template-columns: 30% 16% 25% 25%;
    gap: 10px;
  }
  .item {
    width: 395px;
  }
}

/* animation */
.float-y,
.float-x,
.zoom-in-out {
  animation-name: float-bob-y;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.float-x {
  animation-name: float-bob-x;
}
.zoom-in-out {
  animation-name: zoom-in-out;
}
@keyframes float-bob-y {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes float-bob-x {
  0% {
    transform: translateX(-30px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(-30px);
  }
}
@keyframes zoom-in-out {
  0% {
    transform: rotate(0deg) scale(0.7);
    opacity: 0;
  }
  50% {
    transform: rotate(180deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) scale(0.7);
    opacity: 0;
  }
}
