* {
  box-sizing: border-box;
}
body {
  /* all color */
  font-family: "Manrope", sans-serif;
}
.container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 15px;
}
.custom-btn {
  padding: 12px 40px;
  font-weight: 800;
  font-size: 14px;
  border-radius: 25px;
  color: #fff;
}
.caveat {
  font-family: "Caveat", cursive;
}
.category-img::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background: #fff;
  bottom: -10px;
  left: 50%;
  border-radius: 100%;
  transform: translateX(-50%);
  z-index: -5;
}
